<h1>SpaceX Mission Launch List</h1>
<app-mission-filter (yearSelected)="onYearSelected($event)"></app-mission-filter>
<ul>
    <li *ngFor="let launch of launches">
        <h3>{{ launch.mission_name }} ({{ launch.launch_year }})</h3>
        <div>
            <img src="{{ launch.links.mission_patch_small }}" alt="{{ launch.mission_name }} mission patch">
            <p>{{ launch.details}}</p>
        </div>
    </li>
</ul>
<!-- <table>
    <thead>
      <tr>
        <th>Mission Patch</th>
        <th>Mission Name</th>
        <th>Launch Year</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let launch of launches">
        <td>
          <img src="{{ launch.links.mission_patch_small }}" alt="Mission Patch">
        </td>
        <td>{{ launch.mission_name }}</td>
        <td>{{ launch.launch_year }}</td>
        <td>{{ launch.details }}</td>
      </tr>
    </tbody>
  </table>
   -->