<h1>SpaceX Mission Launch List</h1>
<app-mission-filter (yearSelected)="onYearSelected($event)"></app-mission-filter>
<ul>
    <li *ngFor="let launch of launches">
        <h3>{{ launch.mission_name }} ({{ launch.launch_year }})</h3>
        <div>
            <img src="{{ launch.links.mission_patch_small }}" alt="{{ launch.mission_name }} mission patch">
            <p>{{ launch.details}}</p>
        </div>
        <a routerLink="/mission/{{launch.flight_number}}">View Details</a>
    </li>
</ul>
